body {
  margin: 0;
}
@font-face {
  font-family: "Material-Design-Icons";
  src: url("Material-Design-Icons.eot");
  src: url("/Material-Design-Icons.eot?#iefix") format("embedded-opentype"), url("Material-Design-Icons.woff") format("woff"), url("Material-Design-Icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.todolist {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  border: 1px solid #e5e5e5;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.009375em;
  text-decoration: inherit;
  text-transform: inherit;
  line-height: 1.5rem;
  margin: 0 auto;
  max-width: 800px;
  padding: 8px 0;
  list-style-type: none;
}
.todolist__item {
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  overflow: hidden;
  height: 48px;
  transition: 0.5s;
}
.todolist__item:hover {
  background-color: lightgrey;
}
.todolist__item-action-remove {
  border: none;
  border-radius: 2px;
  padding: 12px 12px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
  background-position: center;
  transition: background 0.8s;
  font-family: "Material-Design-Icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  width: 46px;
  height: 46px;
  padding: 0;
  border-radius: 50%;
}
.todolist__item-action-remove:hover {
  background: #51adf6 radial-gradient(circle, transparent 1%, #51adf6 1%) center / 15000%;
}
.todolist__item-action-remove:active {
  background-color: #82c4f8;
  background-size: 100%;
  transition: background 0s;
}
.todolist__item-action-remove:before {
  content: "\e620";
}
.todolist__item-action-edit {
  border: none;
  border-radius: 2px;
  padding: 12px 12px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
  background-position: center;
  transition: background 0.8s;
  font-family: "Material-Design-Icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  width: 46px;
  height: 46px;
  padding: 0;
  border-radius: 50%;
}
.todolist__item-action-edit:hover {
  background: #51adf6 radial-gradient(circle, transparent 1%, #51adf6 1%) center / 15000%;
}
.todolist__item-action-edit:active {
  background-color: #82c4f8;
  background-size: 100%;
  transition: background 0s;
}
.todolist__item-action-edit:before {
  content: "\e796";
}
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  min-height: 64px;
  max-height: 1000px;
  z-index: 3;
  background-color: #0c7cd5;
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: max-height, box-shadow;
}
.header__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  box-sizing: border-box;
  align-self: stretch;
  align-items: center;
  height: 64px;
  margin: 0;
  padding-left: 30px;
}
.form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 10px 0;
  justify-content: center;
}
.form__text-input {
  width: 200px;
  display: block;
  border: none;
  overflow: auto;
  padding-top: 10px;
  border-bottom: solid 1px #2196f3;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #2196f3 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0960a5;
}
.form__text-input:focus,
.form__text-input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.form__text-input:focus::-webkit-input-placeholder,
.form__text-input:valid::-webkit-input-placeholder {
  color: #2196f3;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
}
.form__text-input::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form__submit-button {
  border: none;
  border-radius: 2px;
  padding: 12px 12px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
  background-position: center;
  transition: background 0.8s;
  font-family: "Material-Design-Icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  width: 46px;
  height: 46px;
  padding: 0;
  border-radius: 50%;
}
.form__submit-button:hover {
  background: #51adf6 radial-gradient(circle, transparent 1%, #51adf6 1%) center / 15000%;
}
.form__submit-button:active {
  background-color: #82c4f8;
  background-size: 100%;
  transition: background 0s;
}
.form__submit-button:before {
  content: "\e6fb";
}
